{% extends "core/base.html"%}
{% load static %}

{% block content %}
<section class="container my-5">
    <table class="table-borderless table-services text-center">
        <thead>
            <tr id="barber-service">
                <th scope="col">HAIR &amp; SHAVE</th>
                <th scope="col">PRICES</th>
                <th scope="col">MEMBERSHIP DISCOUNTS</th>
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
            <tr>
                <th scope="row" class="text-center fw-semibold table-group-divider">{{ service.name }}</th>
                <td class="fw-semibold table-group-divider">{{ service.price }}</td>
                <td class="fw-semibold table-group-divider">{{ service.discount_price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

{% endblock content %}