{% extends "core/base.html"%}
{% load static %}

{% block content %}
<!-- This section is for the first two tables of the barbershop services  
    -->
<section class="container-fluid mb-md-3">
    <h1 class="text-white text-center mb-3">Prices for Piercing Services</h1>
    <div class="row mx-md-5">
        <div class="col-md-6 py-2">
            <table class="table-borderless table-services text-center border-bottom">
                <thead>
                    <tr>
                        <th scope="col">Ear Piercing</th>
                        <th scope="col">Service</th>
                        <th scope="col">Jewellery</th>
                    </tr>
                </thead>
                <tbody>
                    {% for piercing in ear_piercings %}
                    <tr>
                        <th scope="row" class="text-center fw-semibold table-group-divider py-1">
                            {{ piercing.name }}
                        </th>
                        <td class="fw-semibold table-group-divider py-1">€{{ piercing.price }}</td>
                        <td class="fw-semibold table-group-divider py-1">€{{ piercing.discount_price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6 py-2">
            <table class="table-borderless table-services text-center border-bottom">
                <thead>
                    <tr>
                        <th scope="col">Facial Piercing</th>
                        <th scope="col">Service</th>
                        <th scope="col">Jewellery</th>
                    </tr>
                </thead>
                <tbody>
                    {% for piercing in facial_piercings %}
                    <tr>
                        <th scope="row" class="text-center fw-semibold table-group-divider py-1">{{ piercing.name }}
                        </th>
                        <td class="fw-semibold table-group-divider py-1">€{{ piercing.price }}</td>
                        <td class="fw-semibold table-group-divider py-1">€{{ piercing.discount_price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- This section is for the last two tables of the barbershop services  
    -->
<section class="container-fluid mb-md-3">
    <div class="row mx-md-5">
        <div class="col-md-6 py-2">
            <table class="table-borderless table-services text-center border-bottom">
                <thead>
                    <tr>
                        <th scope="col">Oral Piercing</th>
                        <th scope="col">Service</th>
                        <th scope="col">Jewellery</th>
                    </tr>
                </thead>
                <tbody>
                    {% for piercing in oral_piercings %}
                    <tr>
                        <th scope="row" class="text-center fw-semibold table-group-divider">{{ piercing.name }}
                        </th>
                        <td class="fw-semibold table-group-divider py-1">€{{ piercing.price }}</td>
                        <td class="fw-semibold table-group-divider py-1">€{{ piercing.discount_price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6 py-2">
            <table class="table-borderless table-services text-center border-bottom">
                <thead>
                    <tr>
                        <th scope="col">Body Piercing</th>
                        <th scope="col">Service</th>
                        <th scope="col">Jewellery</th>
                    </tr>
                </thead>
                <tbody>
                    {% for piercing in body_piercings %}
                    <tr>
                        <th scope="row" class="text-center fw-semibold table-group-divider py-1">{{ piercing.name }}
                        </th>
                        <td class="fw-semibold table-group-divider py-1">€{{ piercing.price }}</td>
                        <td class="fw-semibold table-group-divider py-1">€{{ piercing.discount_price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- This section is for the tattoo studio employees it has there name, image, nickname/role and a bio with some information about them
        -->
<section>
    <div class="container-fluid my-md-3">
        <div class="row">
            <div class="col-12">
                <h2 class="text-white text-center my-3" id="meet-the-team">Tattoo Artist &amp; Piercer</h2>
            </div>
        </div>

        <div class="row lg-justify-content-evenly g-3">
            {% for member in members %}
            <!--For loop to display all the team members to the site-->
            <div class="col-md-6">
                <div class="card border-3 mx-md-5">
                    <div class="card-header text-center bg-dark text-white fw-bold">{{ member.name }}</div>
                    <img src="{{ member.image.url }}" class="tattoo-team-img" alt="...">
                    <div class="card-body bg-dark">
                        <p class="text-white text-center fs-6"><u>{{ member.role }}</u></p>
                        <p class="card-text text-white fs-6 text-center">{{ member.bio }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- This section is for the tattoo studios FAQS
        -->
<h2 class="text-white text-center my-4">Inked Clippers FAQ's</h2>
<section class="container-fluid border-3">
    <div class="row my-3">
        <div class="col-md-6">
            <h3 class="text-white">Questions about getting Tattoos</h3>
            <p class="text-white">Here are some of the frequently asked questions about getting a tattoo.</p>
            <div class="accordion">
                {% for question in questions %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseQuestion{{ question.id }}" aria-expanded="false"
                            aria-controls="collapseQuestion{{ question.id }}">
                            <span class="fw-semibold">{{ question.question }}</span>
                        </button>
                    </h2>
                    <div id="collapseQuestion{{ question.id }}" class="accordion-collapse collapse"
                        data-bs-parent=".accordion">
                        <div class="accordion-body mb-3">
                            <span class="text-dark">{{ question.answer|linebreaksbr }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="text-white text-end d-none d-md-block">Aftercare FAQ's</h3>
            <h3 class="text-white text-end d-block d-md-none mt-3">Aftercare FAQ's</h3>

            <p class="text-white text-end">Here are some of the frequently asked questions about tattoo
                aftercare.</p>
            <div class="accordion">
                {% for questions in aftercare_questions %}
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseAftercare{{ questions.id }}" aria-expanded="false"
                            aria-controls="collapseAftercare{{ questions.id }}">
                            <span class="fw-semibold">{{ questions.question }}</span>
                        </button>
                    </h2>
                    <!--I am getting a error for #collapseAftercare{{ questions.id }} but its the only way I have got the FAQ's to open and close without bugs-->
                    <div id="collapseAftercare{{ questions.id }}" class="accordion-collapse collapse"
                        data-bs-parent=".accordion">
                        <div class="accordion-body">
                            <span class="text-dark">{{ questions.answer|linebreaksbr }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>


{% endblock content %}