{% extends "core/base.html"%}
{% load static %}


{% block content %}
<div class="container bg-dark px-3 py-2 my-3d">
    <h2 class="text-white text-center">Are you sure you want to delete your testimonial?</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="reviews-btn">
            <button type="submit" value="Delete Testimonial"
                class="btn btn-outline-danger my-4 text-white">Delete</button>
        </div>
    </form>
    <div class="reviews-btn">
        <a href="{% url 'home-page' %}" class="btn btn-outline-success my-3 text-white" type="submit">Return To Home
            Page</a>
    </div>
</div>
{% endblock content %}