{% extends "core/base.html"%}


{% block content %}
<!--This section and page is for logging out of your account-->
<section class="my-5 container">
    <div class="row m-4">
        <div class="col-12">
            <div class="logout-container">
                <h2 class="text-white text-center">You have been logged out</h2>
                <div class="pt-3">
                    <small class="pb-3 mx-2 fw-bold d-block text-white text-center">Login again? <a class="blue"
                            href="{% url 'login-page' %}">
                            Sign
                            in</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}